<!doctype html>
<html class="{{lowercase (hyphenate this.title)}}{{#is 'casestudy' this.basename}} case default-template{{/is}}{{#is 'experiments' this.basename}} experiment default-template{{/is}}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cleartype" content="on">

    {{! Prefetching, preloading, prebrowsing }}
    {{! More info: https://css-tricks.com/prefetching-preloading-prebrowsing }}
    {{#if production}}
    <link rel="dns-prefetch" href="https://fast.fonts.net">
    <link rel="preconnect" href="https://fast.fonts.net">
    <link rel="prefetch" href="https://fast.fonts.net">
    {{/if}}
    <link rel="prerender" href="">
    <link rel="subresource" href="./css/site.css">

    <title>Gray Ghost Visuals › {{#is 'casestudy' this.basename}}Case Study{{/is}}{{#contains 'landing, categories' this.basename}}Front-end Web Development, Interaction &amp; Design{{/contains}} › {{title}}</title>

    <meta name="description" content="{{description}}">

    {{#if production}}
    <meta name="robots" content="all">
    {{else}}
    <meta name="robots" content="none">
    {{/if}}

    <meta name="author" content="{{title}}">
    <meta name="Copyright" content="Copyright {{site.title}} ©{{#date}}{{/date}}. All Rights Reserved.">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="designer" content="https://grayghostvisuals.comm">

    {{! More info: https://bitsofco.de/all-about-favicons-and-touch-icons }}
    {{! <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="path/to/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="path/to/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="path/to/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="path/to/favicon-62.png" sizes="62x62" type="image/png"> }}

    <meta property="og:title" content="{{site.title}}">
    <meta property="og:type" content="company">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:image" content="{{site.url}}/ograph.png">
    <meta property="og:description" content="{{site.description}}">
    <meta property="fb:admins" content="1">

    <link rel="author" href="{{site.url}}/humans.txt">

    <!--[if lte IE 9]><style>body {display: none!important;}html{background:red !important;color:white;max-width:300px;margin:0 auto;}html:before {content: 'IE9 and below is no longer supported by Microsoft. Please upgrade to Windows 10 for a more secure browsing experience.';font-size:1.25em;display: block;margin-top:100%;}</style><![endif]-->

    <!-- build:css {{site.root}}/css/style.min.css -->
    {{#is 'atomicguide' this.basename}}
    <link rel="stylesheet" href="./css/atomic-guide.css">
    {{/is}}

    {{#contains 'landing, casestudy, categories, experiments' this.basename}}
    <link rel="stylesheet" href="./css/site.css">
    {{/contains}}
    <!-- endbuild -->

    {{#if production}}
    <script>var MTIProjectId='219bbe02-c520-46b7-ae72-478c2c37fe2f';(function(){var mtiTracking=document.createElement('script');mtiTracking.async='true';mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtiTracking)})();</script>
    {{/if}}
  </head>
  <body class="{{#is 'atomicguide' this.basename}}atomic {{/is}}sticky-body" id="top">

  <div class="sticky-container">
    <header class="sticky-row sticky-header" role="banner">
      {{> logo}} {{#contains 'casestudy, experiments' this.basename}}<a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe would love to work with Gray Ghost Visuals for our upcoming project.%0A">Get In Touch</a>{{/contains}}

      {{#is 'atomicguide' this.basename}}
      {{> atomic-nav}}
      {{/is}}

      {{> nav}}
    </header>

    <main class="sticky-row sticky-content" role="main">
    {% body %}
    </main>

    {{> footer}}
  </div>

  {{#is 'CodePen' this.title}}
  <script>
    var request  = new XMLHttpRequest(),
        codepens = document.getElementById('codepens');

    request.open('GET', 'http://cpv2api.com/pens/showcase/grayghostvisuals', true);

    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        var data = JSON.parse(request.responseText);

        for(var i = 0, l = data.data.length; i < l; i++) {
          pen = document.createElement('li');
          pen.className = 'pen';
          pen.innerHTML = '<a href="' + data.data[i].link + '"><img src="' + data.data[i].images.large + '" class="pen"></a> <p class="pen-title">' + data.data[i].title + '</p>';

          codepens.appendChild(pen);
        }
      } else {
        console.log('server error');
      }
    };

    request.onerror = function() {
      console.log('connection error');
    };

    request.send();
  </script>
  {{/is}}

  <!-- build:js {{site.root}}/js/src/scripts.min.js -->
  <script src="./js/lib/ffobserver.js"></script>
  <script src="./js/src/ffobserver-config.js"></script>
  <script src="./js/src/social-bloomer.js"></script>

  {{#contains 'landing, atomicguide' this.basename}}
  <script src="./js/lib/TweenMax.min.js"></script>
  <script src="./bower_components/ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="./bower_components/ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script src="./js/lib/ScrollToPlugin.min.js"></script>
  <script src="./js/src/scrollmation.js"></script>
  <script src="./js/src/quotator.js"></script>
  {{/contains }}

  {{#is 'landing' this.basename}}
  <script src="./js/lib/DrawSVGPlugin.min.js"></script>
  <script src="./js/src/iconography.js"></script>
  {{/is}}

  {{#is 'atomicguide' this.basename}}
  <script src="./js/lib/prism.js"></script>
  <script src="./js/src/atomic-swatch.js"></script>
  <script src="./js/src/atomic-generator.js"></script>
  {{/is}}
  <!-- endbuild -->

  {{#if production}}
  <script>var _gaq=[['_setAccount','UA-22249186-1'],['_setDomainName','www.grayghostvisuals.com'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));</script>
  {{/if}}
  </body>
</html>
