<!doctype html>
<html class="{{lowercase (hyphenate this.title)}}{{#is 'casestudy' this.basename}} case default-template{{/is}}{{#is 'experiments' this.basename}} experiment default-template{{/is}}" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta http-equiv="cleartype" content="on">

		{{! More info: https://css-tricks.com/prefetching-preloading-prebrowsing }}
		{{#if production}}
		<link rel="dns-prefetch" href="https://fast.fonts.net">
		<link rel="preconnect" href="https://fast.fonts.net">
		<link rel="prefetch" href="https://fast.fonts.net">
		<link rel="prerender" href="">
		<link rel="subresource" href="{{../site.css}}site.css">
		{{/if}}

		<title>Gray Ghost Visuals › {{#is 'casestudy' this.basename}}Case Study{{/is}}{{#contains 'landing, categories' this.basename}}Front-end Web Development, Interaction &amp; Design{{/contains}} › {{titleize this.title}}</title>

		<meta name="description" content="{{description}}">

		{{#if production}}
		<meta name="robots" content="all">
		{{else}}
		<meta name="robots" content="none">
		{{/if}}

		<meta name="author" content="{{title}}">
		<meta name="Copyright" content="Copyright {{site.title}} ©{{#date}}{{/date}}. All Rights Reserved.">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, shrink-to-fit=no">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="designer" content="{{site.url}}">

		{{! More info: https://bitsofco.de/all-about-favicons-and-touch-icons }}

		<meta property="og:title" content="{{titleize site.title}}">
		<meta property="og:type" content="company">
		<meta property="og:url" content="{{site.url}}">
		<meta property="og:image" content="{{site.url}}/ograph.png">
		<meta property="og:description" content="{{description}}">
		<meta property="fb:admins" content="1">

		<link rel="author" href="{{site.url}}/humans.txt">

		<!-- build:css {{site.css}}style.min.css -->
		{{#is 'atomicguide' this.basename}}
		<link rel="stylesheet" href="{{../site.css}}atomic-guide.css">
		{{/is}}

		{{#contains 'landing, casestudy, categories' this.basename}}
		<link rel="stylesheet" href="{{../site.css}}site.css">
		{{/contains}}
		<!-- endbuild -->

		<!--[if lte IE 9]>
		<style>body {display: none!important;}html{background:red !important;color:white;max-width:300px;margin:0 auto;}html:before {content: 'IE9 and below is no longer supported by Microsoft. Please upgrade to Windows 10 for a more secure browsing experience.';font-size:1.25em;display: block;margin-top:100%;}</style>
		<![endif]-->

		{{#if production}}
		<script>var MTIProjectId='219bbe02-c520-46b7-ae72-478c2c37fe2f';(function(){var mtiTracking=document.createElement('script');mtiTracking.async='true';mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtiTracking)})();</script>
		{{/if}}
	</head>

	<body class="{{#is 'atomicguide' this.basename}}atomic {{/is}}sticky-body" id="top">
		<div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
				<circle id="ripple-shape" cx="1" cy="1" r="1"/>
			</svg>
		</div>

		<div class="sticky-container">
			<header class="sticky-row sticky-header" role="banner">
				{{> logo}}

				{{#contains 'casestudy, experiments' this.basename}}
				<a href="mailto:{{../site.email}}?subject={{../site.title}} Project Inquiry&body=Howdy {{../site.title}},%0A%0AWe'd love to work with your company for an upcoming project of ours. Here is the details…%0A">Get In Touch</a>
				{{/contains}}

				{{#is 'atomicguide' this.basename}}
				{{> atomic-nav}}
				{{/is}}

				{{> nav}}
			</header>

			<main class="sticky-row sticky-content" role="main">
			{% body %}
			</main>

			{{> footer}}
		</div>

	{{#contains 'diy, Theron, Polyon' this.title}}
	<script src="https://assets.codepen.io/assets/embed/ei.js" async></script>
	{{/contains}}

	<!-- build:js {{site.js}}scripts.min.js -->
	<script src="{{site.bower}}fontfaceobserver/fontfaceobserver.js"></script>
	<script src="{{site.js}}ffobserver-config.js"></script>
	<script src="{{site.jslib}}TweenMax.min.js"></script>
	<script src="{{site.js}}social-bloomer.js"></script>
	<script src="{{site.js}}material-ripple.js"></script>

	{{#is 'landing' this.basename}}
	<script src="{{../site.js}}bubbles.js"></script>
	{{/is }}

	{{#is 'atomicguide' this.basename}}
	<script src="{{../site.bower}}ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
	<script src="{{../site.bower}}ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
	<script src="{{../site.jslib}}ScrollToPlugin.min.js"></script>
	<script src="{{../site.js}}scrollmation.js"></script>
	<script src="{{../site.jslib}}prism.js"></script>
	<script src="{{../site.js}}atomic-swatch.js"></script>
	<script src="{{../site.js}}atomic-generator.js"></script>
	{{/is}}
	<!-- endbuild -->

	{{#if production}}
	<script>var _gaq=[['_setAccount','UA-22249186-1'],['_setDomainName','www.grayghostvisuals.com'],['_trackPageview'],['_trackPageLoadTime']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));</script>
	{{/if}}
	</body>
</html>
