<!doctype html>
<html class="{{lowercase (hyphenate this.title)}}{{#is 'casestudy' this.basename}} case default-template{{/is}}" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta http-equiv="cleartype" content="on">

		{{#if production}}
		{{! More info: https://css-tricks.com/prefetching-preloading-prebrowsing }}
		<link rel="dns-prefetch" href="https://fast.fonts.net">
		<link rel="dns-prefetch" href="https://assets.codepen.io">
		<link rel="dns-prefetch" href="https://google-analytics.com">
		<link rel="preconnect" href="https://fast.fonts.net">
		<link rel="preconnect" href="https://assets.codepen.io">
		<link rel="preconnect" href="https://google-analytics.com">
		{{/if}}

		<title>Gray Ghost Visuals{{#is 'casestudy' this.basename}} › Case Study{{/is}}{{#contains 'landing, categories' this.basename}} › Front-end Web Development, Interaction &amp; Design{{/contains}} › {{titleize this.title}}</title>
		<meta name="description" content="{{description}}">

		{{#if production}}
		<meta name="robots" content="all">
		{{else}}
		<meta name="robots" content="none">
		{{/if}}

		<meta name="author" content="{{title}}">
		<meta name="Copyright" content="Copyright {{site.title}} ©{{#date}}{{/date}}. All Rights Reserved.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, shrink-to-fit=no">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="designer" content="{{site.url}}">

		{{! More info: https://bitsofco.de/all-about-favicons-and-touch-icons }}

		<meta property="og:title" content="{{titleize site.title}}">
		<meta property="og:type" content="company">
		<meta property="og:url" content="{{site.url}}">
		<meta property="og:image" content="{{site.url}}/ograph.png">
		<meta property="og:description" content="{{description}}">
		<meta property="fb:admins" content="1">

		<link rel="author" href="{{site.url}}/humans.txt">

		<!-- build:css {{site.css}}style.min.css -->
		{{#is 'atomicguide' this.basename}}
		<link rel="stylesheet" href="{{../site.css}}atomic-guide.css">
		{{/is}}

		{{#contains 'landing, contact, casestudy, categories' this.basename}}
		<link rel="stylesheet" href="{{../site.css}}site.css">
		{{/contains}}
		<!-- endbuild -->

		<!--[if lte IE 9]>
		<style>body {display: none!important;}html{background:red !important;color:white;max-width:300px;margin:0 auto;}html:before {content: 'IE9 and below is no longer supported by Microsoft. Please upgrade to Windows 10 for a more secure browsing experience.';font-size:1.25em;display: block;margin-top:100%;}</style>
		<![endif]-->

		{{#if production}}
		<script>var MTIProjectId='219bbe02-c520-46b7-ae72-478c2c37fe2f';(function(){var mtiTracking=document.createElement('script');mtiTracking.async='true';mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtiTracking)})();</script>
		{{/if}}
	</head>

	<body class="{{#is 'atomicguide' this.basename}}atomic {{/is}}" id="top">
		{{> material-ripple}}

		<div class="container">
			<header role="banner">
				{{> logo}}
				{{> nav}}
			</header>

			<main role="main">
			{% body %}
			</main>

			{{> footer}}
		</div>

		<!-- build:js {{site.js}}scripts.min.js -->
		<script src="{{site.bower}}fontfaceobserver/fontfaceobserver.js"></script>
		<script src="{{site.js}}ffobserver-config.js"></script>

		{{#is 'landing' this.basename}}
		<script src="{{../site.jslib}}TweenMax.min.js"></script>
		<script src="{{../site.js}}bubbles.js"></script>
		{{/is }}

		{{#is 'categories' this.basename}}
		<script src="{{../site.jslib}}TweenMax.min.js"></script>
		<script src="{{../site.bower}}ScrollMagic/scrollmagic/minified/ScrollMagic.min.js"></script>
		<script src="{{../site.bower}}ScrollMagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
		<script src="{{../site.jslib}}ScrollToPlugin.min.js"></script>
		<script src="{{../site.js}}anchor-scroll.js"></script>
		{{/is}}

		{{#is 'contact' this.basename}}
		<script src="{{../site.js}}wufoo.js"></script>
		{{/is}}

		{{#is 'atomicguide' this.basename}}
		<script src="{{../site.jslib}}TweenMax.min.js"></script>
		<script src="{{../site.bower}}ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
		<script src="{{../site.bower}}ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
		<script src="{{../site.jslib}}ScrollToPlugin.min.js"></script>
		<script src="{{../site.js}}scrollmation.js"></script>
		<script src="{{../site.jslib}}prism.js"></script>
		<script src="{{../site.js}}atomic-swatch.js"></script>
		<script src="{{../site.js}}atomic-generator.js"></script>
		{{/is}}

		{{#contains 'landing, atomicguide' this.basename}}
		<script src="{{../site.js}}material-ripple.js"></script>
		<script src="{{../site.js}}quotator.js"></script>
		{{/contains}}

		{{#contains 'categories' this.basename}}
		<script src="{{../site.js}}bubbles.js"></script>
		{{/contains}}

		{{#contains 'atomicguide, categories' this.basename}}
		<script src="{{../site.js}}expando-card.js"></script>
		{{/contains}}

		{{#contains 'diy, Theron, Polyon' this.title}}
		<script src="{{../site.jslib}}codepen-embed.js" async></script>
		{{/contains}}
		<!-- endbuild -->

		{{#if production}}
		<script>var _gaq=[['_setAccount','UA-22249186-1'],['_setDomainName','www.grayghostvisuals.com'],['_trackPageview'],['_trackPageLoadTime']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));</script>
		{{/if}}
	</body>
</html>
