<!doctype html>
<html class="{{#is 'casestudy' this.basename}}case {{this.title}}{{/is}}{{#is 'landing' this.basename}}landing{{/is}}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{title}}{{#any 'landing, categories' this.basename}} › Front-end Web Development, Interaction & Design{{/any}}</title>
    <meta name="description" content="{{description}}">
    {{#if production}}
    <meta name="robots" content="all">
    {{else}}
    <meta name="robots" content="none">
    {{/if}}
    <meta name="author" content="{{title}}">
    <meta name="Copyright" content="Copyright Gray Ghost Visuals ©2015. All Rights Reserved.">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <meta property="og:title" content="{{site.title}}">
    <meta property="og:type" content="company">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:image" content="{{site.url}}/ograph.png">
    <meta property="og:description" content="{{site.description}}">
    <meta property="fb:admins" content="1">

    <link rel="author" href="//grayghostvisuals.com/humans.txt">

    {{#if production}}
    <script>var MTIProjectId='219bbe02-c520-46b7-ae72-478c2c37fe2f';(function(){var mtiTracking=document.createElement('script');mtiTracking.async='true';mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtiTracking)})();</script>
    {{/if}}

    <!-- build:css {{site.root}}/css/style.min.css -->
    {{#is 'atomicguide' this.basename}}
    <link rel="stylesheet" href="{{site.root}}/css/atomic-guide.css">
    {{/is}}
    {{#any 'landing, casestudy, categories' this.basename}}
    <link rel="stylesheet" href="{{site.root}}/css/site.css">
    {{/any}}
    <!-- endbuild -->
  </head>
  <body class="{{#is 'atomicguide' this.basename}}atomic{{/is}}" id="top">

  <header role="banner">
    {{#any 'landing, atomicguide, categories' this.basename}}
    <a href="/">{{> logo}}</a>
    {{/any}}
    {{> nav}}
  </header>

  <main role="main">
  {% body %}
  </main>

  {{> footer}}

  <!-- build:js {{site.root}}/js/src/scripts.min.js -->
  <script src="{{site.root}}/js/lib/ffobserver.js"></script>
  <script src="{{site.root}}/js/src/ffobserver.js"></script>
  <script src="{{site.root}}/js/src/social-bloomer.js"></script>

  {{#any 'landing, atomicguide' this.basename}}
  <script src="{{site.root}}/js/lib/TweenMax.min.js"></script>
  <script src="{{site.root}}/bower_components/ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="{{site.root}}/bower_components/ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script src="{{site.root}}/js/lib/ScrollToPlugin.min.js"></script>
  <script src="{{site.root}}/js/src/scrollmation.js"></script>
  <script src="{{site.root}}/js/src/quotator.js"></script>
  {{/any}}

  {{#is 'landing' this.basename}}
  <script src="{{site.root}}/js/lib/DrawSVGPlugin.min.js"></script>
  <script src="{{site.root}}/js/src/iconography.js"></script>
  {{/is}}

  {{#is 'atomicguide' this.basename}}
  <script src="{{site.root}}/js/lib/prism.js"></script>
  <script src="{{site.root}}/js/src/atomic-swatch.js"></script>
  <script src="{{site.root}}/js/src/atomic-generator.js"></script>
  {{/is}}
  <!-- endbuild -->

  {{#if production}}
  <script>var _gaq=[['_setAccount','UA-22249186-1'],['_setDomainName','www.grayghostvisuals.com'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));</script>
  {{/if}}
  </body>
</html>
