---
basename: casestudy
title: DIY
layout: default
description:
categories: client
projecturl: http://diy.org
url: http://diy.org
summary: Vector Animations for Kids
logo: logo-diy.svg
---

{{> logo-diy}}

<h2 class="ggv-headline _reverse"><span>Learn</span><span>Anything</span></h2>

<ul>
  <li><b>Company:</b> DIY Co.</li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> SVG Animation</li>
  <li><b>Website:</b> <a href="{{projecturl}}">{{projecturl}}</a></li>
  <li><b>Tooling:</b> Adobe Illustrator, Node, Gulp, SVGO</li>
  <li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
  <li><b>Libraries:</b> GreenSock</li>
</ul>

<p>The best person to show them how is another kid. DIY is a safe online community for kids to discover new skills, meet friends who are geeks just like them, and be awesome.</p>

<h3>Part 1 : Kid Passions</h3>

<figure class="figure-site">
  <img src="{{site.imgdir}}diy-feat-img.png" alt="">
  <figcaption><small>Credits: Design & Illustration by Tyler Thompson</small></figcaption>
</figure>

<h3>Challenges</h3>

This particular motion sequence required quite a bit of thinking in order to time everything just right. Using GSAP the timing was able to be achieved.

<h3>Results</h3>

<figure class="figure-site">
  <img src="{{site.imgdir}}KidPassions.gif" alt="">
</figure>

<h3>Part 2 : Underneath</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur minima mollitia, odit pariatur veniam dolor. Consequuntur dolorum laudantium, qui asperiores esse eius. Quibusdam harum maiores qui quo enim voluptates.</p>

<figure class="figure-site">
  {{>underneath}}
  <figcaption><small>Credits: Illustration by Isaiah Saxon</small></figcaption>
</figure>

<h3>Challenges</h3>
<p>Underneath was one of those projects that comes along where ambivalence sets in but luckily the desire to work on such an amazing project made everything all better. Since the graphic was originally created in Photoshop and meant it had to be converted to vector in order to animate.</p>

