---
basename: casestudy
layout: default
title: lean-labs
logo: logo-leanlabs.png
description:
tags: branding, design, web development
categories: client
url: https://www.lean-labs.com
summary: 10x Your Brand Through Customer Centric Marketing & Growth Driven Design.
---

<img src="{{site.imgdir}}/{{logo}}" alt="">
<h2 class="ggv-headline _reverse"><span>Growth</span><span>Driven</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> Front-end Development &amp; Design</li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Gulp, <a href="http://designers.hubspot.com/docs/tools/local-hubl-server">HubL Server</a></li>
	<li><b>Languages:</b> HTML, <a href="http://designers.hubspot.com/docs/hubl/intro-to-hubl">HubL</a>, <a href="http://jinja.pocoo.org/docs/dev/templates">JinJa</a>, XML, Sass, CoffeScript, JavaScript</li>
	<li><b>Libraries:</b> jQuery, Owl, Bootstrap</li>
</ul>

<h3>About Lean Labs</h3>
<p>Performance gaps in growing companies come from talent gaps. Lean Labs is hired as an extention of sales and marketing teams to attract your target customers to your website, convert leads and nuture opportunities. 12 people working remotely from 5 countries with 1 purpose:
10X deserving brands.</p>

<h3>RocketSpace</h3>

<p>Design and development for RocketSpace. Many hours were spent redesinging and developing components and integrations with the HubSpot service. Development involved the integration of the HubL server and local workflow in order for developers to create locally beore pushing to HubSpot for production. Before working with Lean Labs, RocketSpace was developed outside HubL when I suggested we change and later the workflow to develop more efficiently before pushing live.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/rs-techstartup.png" alt="">
	<figcaption><small></small></figcaption>
</figure>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<figure class="figure-site">
	<img src="https://d13yacurqjgara.cloudfront.net/users/46511/screenshots/2987068/rocketspace-techstartup.png" alt="">
	<figcaption><small></small></figcaption>
</figure>

<h3>Brandvious</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious-logo.png" alt="">
	<figcaption><small></small></figcaption>
</figure>
