---
basename: casestudy
layout: default
title: lean-labs
logo: logo-leanlabs.png
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing branding and identity design along with custom HubSpot web development and atomic guide creation for web components.
tags: branding, design, web development
categories: client
url: https://www.lean-labs.com
summary: 10x Your Brand Through Customer Centric Marketing & Growth Driven Design.
---

<img src="{{site.imgdir}}/{{logo}}" alt="">
<h2 class="ggv-headline _reverse"><span>Growth</span><span>Driven</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> Front-end Development &amp; Design</li>
	<li><b>Website:</b> <a href="https://www.rocketspace.com/">https://www.rocketspace.com</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Gulp, <a href="http://designers.hubspot.com/docs/tools/local-hubl-server">HubL Server</a></li>
	<li><b>Languages:</b> HTML, <a href="http://designers.hubspot.com/docs/hubl/intro-to-hubl">HubL</a>, <a href="http://jinja.pocoo.org/docs/dev/templates">JinJa</a>, XML, Sass, CoffeScript, JavaScript</li>
	<li><b>Libraries:</b> jQuery, Owl, Bootstrap</li>
</ul>

<h3>About <a href="{{url}}">Lean Labs</a></h3>
<p>Performance gaps in growing companies come from talent gaps. Lean Labs is hired as an extention of sales and marketing teams to attract your target customers to your website, convert leads and nuture opportunities. 12 people working remotely from 5 countries with 1 purpose; 10X deserving brands.</p>

<h3>RocketSpace</h3>
<p>Phase 1 began as development on a website for a tech startup called <a href="http://www.rocketspace.com">RocketSpace</a> that specializes in coworking spaces for tech startups. Many hours were spent redesigning, developing components and integrating the work within the HubSpot service. Other development aspects involved the integration of the HubL server and creating a local workflow in order for developers to work locally before pushing to HubSpot for production. Before working with Lean Labs, RocketSpace was developed outside HubL making development workflow extremely tedious for developers.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/rocketspace.png" alt="">
	<figcaption><small></small></figcaption>
</figure>

<p>To assist developers that manage the codebase for RocketSpace, a component guide was also created containing sample code for quick copy and pasting abilities. To keep components to their most basic form, minimal styling was given allowing for further customizing based on unique contexts. This is based on the principle of "<a href="http://v3.danielmall.com/articles/content-display-patterns">Content vs. Display Patterns</a>" written by Dan Mall.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/rs-component-guide.png" alt="">
	<figcaption><small>RocketSpace's HubSpot Component Guide</small></figcaption>
</figure>

<h3>Brandvious</h3>
<p>Brandvious is a concept about bringing a 10x approach to deserving brands and understanding the way to get bigger is to get better. Guidelines provided via discovery sessions were wisdom, timeless, sophisticated and legible. It was important that the logo be typography focused while remaining simplistic, elegant and timeless.</p>
<p>Research and time was spent investigating multiple typefaces that also have a history matching the goals of the project. This time spent lead to Museo, Adelle, Avenir and Gotham for the chosen typefaces to explore with.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious.png" alt="">
	<figcaption><small>Early Type Samples</small></figcaption>
</figure>

<h3>The Final product</h3>
<p>After mutliple feedback sessions it was decided the logo was lacking an element. An element that could be used in social media situations such as an avatar since using text alone would not be legible in those types of situations. To remain true to the ideals of simplistic, a typographic element was used to create an abstract shape.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious-logo.png" alt="">
	<figcaption><small>Brandvious Logo w/Mark. No Color</small></figcaption>
</figure>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious-logo-pink.png" alt="">
	<figcaption><small>Brandvious Logo w/Mark &amp; Color Samples</small></figcaption>
</figure>
