---
basename: casestudy
layout: default
title: lean-labs
logo: logo-leanlabs.png
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing branding and identity design along with custom HubSpot web development and atomic guide creation for web components.
tags: branding, design, web development
categories: client
url: https://www.lean-labs.com
summary: 10x Your Brand Through Customer Centric Marketing & Growth Driven Design.
---

<img src="{{site.imgdir}}/{{logo}}" alt="">

<h2 class="ggv-headline _reverse"><span>Growth</span><span>Driven</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> Front-end Development &amp; Design</li>
	<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Sketch, InVision, Slack, Git, Gulp, <a href="http://designers.hubspot.com/docs/tools/local-hubl-server">HubL Server</a>, HubSpot</li>
	<li><b>Languages:</b> HTML, <a href="http://designers.hubspot.com/docs/hubl/intro-to-hubl">HubL</a>, <a href="http://jinja.pocoo.org/docs/dev/templates">JinJa</a>, XML, CSS, Sass, CoffeeScript, JavaScript</li>
	<li><b>Libraries:</b> jQuery, Owl, Bootstrap</li>
</ul>

<h3>About <a href="{{url}}">Lean Labs</a></h3>
<p>Performance gaps in growing companies come from talent gaps. Lean Labs is hired as an extention of sales and marketing teams to attract your target customers to your website, convert leads and nuture opportunities. 12 people working remotely from 5 countries with 1 purpose; 10X deserving brands.</p>

<h3><a href="https://www.rocketspace.com/">RocketSpace</a> Project</h3>
<p>RocketSpace assists tech startups and also specializes in providing coworking spaces throughout the globe. Many hours were spent redesigning, rethinking UI components, local development, and integrating the results within the HubSpot service. Other development aspects involved the integration of the HubL server by creating a workflow for developers to carry out tasks locally before pushing to HubSpot for production. Before working with Lean Labs, RocketSpace was developed outside of HubL making development workflow extremely tedious for developers. This also made code releases susceptible to bugs, component errors and isolate hard to find fixes.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/rocketspace.png" alt="">
	<figcaption><small>UI Design and Development for Tech Startup Page</small></figcaption>
</figure>

<p>To assist developers that manage the codebase for RocketSpace, a <a href="https://staging.leanlabs.info/rocketspace/">local staging environment</a> was created along with a <a href="http://staging.leanlabs.info:8080/rocketspace/custom/page/leanlabs-hubl/component-guide.html">component guide</a> containing sample code for quick copy and pasting abilities. To keep components to their most basic form, minimal styling was given allowing for further customizing based on unique contexts. This is based on the principles of "<a href="http://v3.danielmall.com/articles/content-display-patterns" target="_blank">Content vs. Display Patterns</a>" written by Dan Mall, and <a href="http://atomicdesign.bradfrost.com/chapter-2" target="_blank">Atomic Design</a> written by Brad Frost.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/rs-component-guide.png" alt="">
	<figcaption><small>RocketSpace's HubSpot <a href="http://staging.leanlabs.info:8080/rocketspace/custom/page/leanlabs-hubl/component-guide.html">Component Guide</a></small></figcaption>
</figure>

<p>Additional samples of project work can also be seen on Dribbble such as <a href="https://dribbble.com/shots/3054621-Rocketspace-Hero">Rocketspace Hero</a>, <a href="https://dribbble.com/shots/2987068-RocketSpace-Tech-Startup-Panels">RocketSpace Tech Startup Panels</a>, <a href="https://dribbble.com/shots/2987071-RocketSpace-Tech-Startup-Masthead">RocketSpace Tech Startup Masthead</a>, <a href="https://dribbble.com/shots/3150182-RocketSpace-Tech-Startups-Report-CTA">RocketSpace Tech Startups Report CTA</a>.</p>

<h3>Brandvious Project</h3>

<p>Brandvious is a concept about bringing a 10x approach to deserving brands and understanding the way to get bigger is to get better. Guidelines provided via discovery sessions were wisdom, timeless, sophisticated and legible. It was important that the logo be typography focused while remaining simplistic, elegant and timeless.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious-type-pairing.png" alt="">
	<figcaption><small>Brandvious <a href="https://dribbble.com/shots/3170883-Brandvious-Color-Type-Pairing">Type Pairing</a></small></figcaption>
</figure>

<p>Type pairing body copy and headlines to understand the voice of the font-face based on adjectives discussed in discovery sessions. Color pairing was also used to get a sense of the tone the brand would suggest.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious.png" alt="">
	<figcaption><small>Early Type Samples</small></figcaption>
</figure>

<p>Research and time was spent investigating multiple typefaces that also have a history matching the goals of the project. This time spent lead to Museo, Adelle, Avenir and Gotham for the chosen typefaces to explore with.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious-logo.png" alt="">
	<figcaption><small>Brandvious Logo Mark without Color</small></figcaption>
</figure>

<p>After mutliple feedback sessions it was decided the logo was lacking an element. An element that could be used in social media situations such as an avatar since using text alone would not be legible in those types of situations. To remain true to the ideals of simplistic, a typographic element was used to create an abstract shape.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/leanlabs/brandvious-logo-pink.png" alt="">
	<figcaption><small>Brandvious Logo Mark with Color</small></figcaption>
</figure>
