---
basename: casestudy
layout: default
title: Murmuration-Malts
logo: logo-murmuration.svg
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing branding and identity design along with custom WordPress web development.
tags: branding, wordpress, web development
categories: client
url: http://murmurationmalts.com
summary: The Artisanal Malthouse of the Fingerlakes
---

{{! https://docs.google.com/document/d/1aCwIioKJv_qZ3_M2brQSOJqDISND9I4QbJnbuuguwhA/edit?ts=5613365e }}
{{> logo-murmuration}}

<h2 class="ggv-headline _reverse"><span>Growing</span><span>Local</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> Visual Design, Website Design &amp; Custom WordPress Development.</li>
	<li><b>Team:</b> <a href="http://droidpinkman.io">Dennis Gaebel Jr.</a>, <a href="https://www.staplewebdesign.com">Andrew Staple</a>, <a href="http://tjmurr.in">TJ Murrin</a></li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Invision, Google Docs, Gulp, Bower, Git</li>
	<li><b>Languages:</b> HTML, PHP, Sass, JavaScript</li>
	<li><b>Libraries:</b> Google Maps, Flickity, Advanced Custom Fields, Gravity Forms</li>
	<li><b>CMS:</b> WordPress</li>
</ul>

<h3>About Murmuration Malts</h3>
<p>Murmuration Malts strives everyday to be “The Artisanal Malthouse of the Fingerlakes” with it's roots based in West Bloomfield, NY. Each batch of malt is cared for by hand to ensure the finest result is produced for beer lovers of every variety.</p>

<h3>Branding</h3>
<p>It was discussed in early brain-storming sessions the identity was to portray a particular set of qualities. Those qualities would include associations with words such as rustic, natural, earthy, inviting and authentic while using a few constraints to guide. Our constraints were clear; logo must use the text “murmuration malts”, possess a red wing blackbird and contain 2 row barley (considered by many malters as the finest barley one can obtain). The back story for the bird I'll leave to the owners to explain when you visit their amazing estbalishment.</p>

<h3>Finding a style</h3>
<p>Invision app was leveraged in order to gather reserach in a way that would allow for smooth communication between the team and our trusted client. It was there we began our road to discovery on what the identity form would begin to look like, style of the work and pairing typefaces for which Gotham, Gotham Condensed and Sentinel were chosen. Logo design was to look hand drawn and so began the journey of collecting some examples of what this hand-drawn style would be.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-logostyles.png" alt="">
	<figcaption><small>Style Samples used for Invision Board</small></figcaption>
</figure>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-identity.png" alt="">
	<figcaption><small>Final Identity Mark Meeting Scope Requirements</small></figcaption>
</figure>

<h3>Looking Professional</h3>
<p>Business cards were designed as part of the project scope and stood upon the shoulders of previously discussed intentions. Using the vintage, hand drawn type of direction the cards were given a burlap texture to add that earthy visual appeal and match what their malt is packaged within.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-bc.png" alt="">
	<figcaption><small>Business Card Design by Dennis Gaebel Jr.</small></figcaption>
</figure>

<p>Tag designs were also created to attach to each malt bag offered to customers. Requirements were discussed for the information used on the tags in order to make sure those purchasing malts had the information required.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/malt-tag.jpg" alt="">
	<figcaption><small>Tag Design by Dennis Gaebel Jr. for Murmuration's Malt Bags</small></figcaption>
</figure>

<p>Stickers were created to further help marketing and awareness. While they're not sold these stickers are used in many situations such as mailers, freebies to customers and packaging.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-sticker-gold.png" alt="">
	<figcaption><small>Sticker Design Design by Dennis Gaebel Jr.</small></figcaption>
</figure>

<h3>The Website</h3>
<p>In-vision was used to create a functional applicaiton interface to share before beginning the entire build in WordPress. This allowed each of us to understand the traversing of the site and how a user moves throughout as well as making sure actions are relevant and meaningful to their experience.</p>
<h3>Process</h3>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/invision-mm-devnotes.png" alt="">
</figure>

<h3>Noteworthy</h3>
<p>As with every project the path of learning is always lurking about and this project was no different than other. It was a huge learning experience from branding to development.</p>
<p>Tuts+ article discussing the process of <a href="http://webdesign.tutsplus.com/tutorials/how-to-conduct-an-interface-inventory-with-invision--cms-25792">conducting interface inventories</a></p>
