---
basename: casestudy
layout: default
title: Murmuration-Malts
logo: logo-murmuration.svg
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing branding and identity design along with custom WordPress web development.
tags: branding, wordpress, web development
categories: client
url: http://murmurationmalts.com
summary: The Artisanal Malthouse of the Fingerlakes
---

{{> logo-murmuration}}
<h2 class="ggv-headline _reverse"><span>Growing</span><span>Local</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> Visual Design, Website Design &amp; Custom WordPress Development.</li>
	<li><b>Team:</b> <a href="https://www.staplewebdesign.com">Andrew Staple</a>, <a href="http://tjmurr.in">TJ Murrin</a></li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Invision, Google Docs, Gulp, Bower, Git</li>
	<li><b>Languages:</b> HTML, PHP, Sass, JavaScript</li>
	<li><b>Libraries:</b> Google Maps, Flickity, Advanced Custom Fields, Gravity Forms</li>
	<li><b>CMS:</b> WordPress</li>
</ul>

<h3>About Murmuration Malts</h3>
<p>Murmuration Malts strives everyday to be “The Artisanal Malthouse of the Fingerlakes” with it's roots based in West Bloomfield, NY. Each batch of malt is cared for by hand to ensure the finest result is produced for beer lovers of every variety.</p>

<h3>Branding</h3>
<p>It was discussed in early brain-storming sessions the identity was to portray a particular set of qualities. Those qualities would include associations with words such as rustic, natural, earthy, inviting and authentic while using a few constraints to guide. Our constraints were clear; it must incorporate the text “murmuration malts”, possess a red wing blackbird and contain 2 row barley; considered by many malters as the finest barley one can obtain.</p>

<h3>Finding a style</h3>
<p>Invision app was leveraged in order to gather reserach in a way that would allow for smooth communication between the team and the owners of Murmuration Malts. It was there we began our road to discovery on identity appearance, style of the work and pairing typefaces for which <a href="https://www.typography.com/fonts/gotham/overview/">Gotham</a>, <a href="https://www.typography.com/fonts/gotham/inside/gotham-condensed">Gotham Condensed</a> and <a href="https://www.typography.com/fonts/sentinel/overview">Sentinel</a> were chosen. The final logo design was also to appear hand-drawn and so began the journey of collecting samples showcasing how this hand-drawn style should be depicted.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-logostyles.png" alt="">
	<figcaption><small>Style Samples used for <a href="https://www.invisionapp.com/blog/boards-share-design-inspiration-assets">Invision Board</a></small></figcaption>
</figure>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-identity.png" alt="">
	<figcaption><small>Final Identity Mark by TJ Murrin</small></figcaption>
</figure>

<h3>Looking Professional</h3>
<p>Business cards were designed as part of the project scope and stood upon the shoulders of previously discussed intentions. Using the vintage, hand-drawn direction, the cards were given a burlap texture to reference the earthy visual appeal and match what the malt is packaged within; a burlap bag.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-bc.png" alt="">
	<figcaption><small>Business Card Design by Gray Ghost</small></figcaption>
</figure>

<p>Tag designs were also created to attach to each malt bag offered to customers. Requirements were discussed for the label fields used on the tags in order to make sure those purchasing malts had the information required.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/malt-tag.jpg" alt="">
	<figcaption><small>Tag Design by Gray Ghost</small></figcaption>
</figure>

<p>Stickers were created to further help marketing and awareness. While they're not sold, these stickers are intended for use in many situations such as mailers, freebies to customers and packaging.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-sticker-gold.png" alt="">
	<figcaption><small>Sticker Design Design by Gray Ghost</small></figcaption>
</figure>

<p>A letterhead design was created to look like a pro for invoices, mailers and other business essentials.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-letterhead.jpg" alt="">
	<figcaption><small>Letterhead Design by Gray Ghost</small></figcaption>
</figure>

<h3>The Website</h3>
<p>It was discussed in early stages that the owners desired to manage their own content. For us, WordPress was the obvious choice and so began the process of multiple discovery sessions.</p>

<h3>Process</h3>
<p>In-vision was used to create a functional application interface to share before beginning the entire build in WordPress. This allowed each of us to understand the traversing of the site and how a user moves throughout as well as making sure actions are relevant and meaningful to their experience. Google Docs was also a helpful tool to share content strategy information and allow constant and streamlined feedback.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/invision-mm-devnotes.png" alt="">
	<figcaption><small>Invision Development Outline</small></figcaption>
</figure>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/home-design-invision.png" alt="">
	<figcaption><small>Invision Mockup Outline</small></figcaption>
</figure>

<h3>The Final Product</h3>
<p>The result of all this work is a one page website that posseses all the required functionality and expectations a typical customer would expect. Based on our research though these discovery sessions it was decided a one page website would fulfill the needs as a multiple page website would be overkill and over-engineering a situation that only asked for simplicity.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/murmuration/mm-large.png" alt="">
	<figcaption><small>Large Screen View. Design by Andy Staple. Development by Gray Ghost</small></figcaption>
</figure>
<figure>
	<img src="{{site.imgdir}}clients/murmuration/murmurationmalts.com-(Nexus 5X).png" alt="">
	<!-- <img src="{{site.imgdir}}clients/murmuration/mm-small.png" alt=""> -->
	<figcaption><small>Nexus 5X Screen</small></figcaption>
</figure>

<h3>Noteworthy</h3>
<p>As with every project the path of learning is always lurking about and this project was no different than any other. It was a huge learning experience from branding to development and something we decided to share in a Tuts+ article discussing the process of <a href="http://webdesign.tutsplus.com/tutorials/how-to-conduct-an-interface-inventory-with-invision--cms-25792">conducting interface inventories</a>.</p>
