---
basename: casestudy
title: Murmuration-Malts
layout: default
description:
categories: client
projecturl: http://murmurationmalts.com
url: http://murmurationmalts.com
summary: Branding & Custom WordPress Development
logo: logo-murmuration.svg
---

{{> logo-murmuration}}

<h2 class="ggv-headline _reverse"><span>Growing</span><span>Local</span></h2>

<ul class="ggv-list">
  <li><b>Company:</b> Murmuration Malts</li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> Branding &amp; Custom WordPress Development</li>
  <li><b>Website:</b> <a href="{{projecturl}}">{{projecturl}}</a></li>
  <li><b>Languages:</b> HTML, PHP, Sass <code>{.scss}</code>, JavaScript</li>
  <li><b>Libraries:</b> Flickity</li>
  <li><b>Tooling:</b> Node, Gulp, SVGO, Git</li>
  <li><b>CMS:</b> WordPress</li>
</ul>

<p>Murmuration Malts is what they consider to be “The Artisanal Malthouse of the Fingerlakes” with it's roots based in West Bloomfield, NY. Each batch of malt is cared for by hand to ensure the finest result is produced for all beer lovers of every variety.</p>

<h3>Branding</h3>

We were glad to work with a local company to produce such a great result reflecting the heritage of malting and the rich nature of it's history.

<figure class="figure-site">
  <img src="{{site.imgdir}}murmuration-cards.jpg" alt="">
</figure>

<h3>Project Details</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quibusdam sequi, eum quisquam laborum cum laudantium consectetur numquam vero nobis beatae ipsum molestiae fuga, magnam minus minima modi praesentium, labore.</p>

<h3>Process</h3>

<p>In-vision was used to create a functional applicaiton interface to share before beginning the entire build in WordPress. This allowed each of us to understand the traversing of the site and how a user moves throughout as well as making sure actions are relevant and poignant.</p>


<h3>Noteworthy</h3>

As with every project the path of learning is always lurking about and this project was no different than other. It was a huge learning experience from branding to development.

<figure class="figure-site">
  <img src="{{site.imgdir}}invision-mm-devnotes.png" alt="">
</figure>

<p>Tuts+ article discussing the process of <a href="http://webdesign.tutsplus.com/tutorials/how-to-conduct-an-interface-inventory-with-invision--cms-25792">conducting interface inventories</a></p>