---
basename: casestudy
title: Walmedia
layout: default
description:
categories: client
tags: svg animation
projecturl: https://faithmade.com
url: http://liftux.com
summary: Vector Logo Animation
logo: logo-faithmade.svg
---

{{> logo-faithmade}}

<h2 class="ggv-headline _reverse"><span>Handwritten</span><span>Faith</span></h2>

<ul class="ggv-list">
  <li><b>Company:</b> <a href="{{url}}">Walmedia LLC.</a></li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> Vector Logo Animation</li>
  <li><b>Website:</b> <a href="{{projecturl}}">{{projecturl}}</a></li>
  <li><b>Tooling:</b> Adobe Illustrator, Node, Gulp, SVGO</li>
  <li><b>Languages:</b> HTML, XML, Sass <code>{.scss}</code>, JavaScript</li>
  <li><b>Libraries:</b> TweenMax, DrawSVG</li>
</ul>

<p>The Faithmade Website Co. is intended to be used by churches as well as youth groups, non-profits, worship ministries, and conferences. A powerful church website builder that helps remove barriers for church volunteers and staff members.</p>

<p>Chris Wallace, partner &amp; technology director of LiftUX (DBA) of Walmedia LLC. approached Gray Ghost Visuals to create a handwritten effect using a vector pre-designed by their in-house team.</p>

<figure class="figure-site" style="box-shadow: 0 -1px 1px rgba(254, 254, 254, 0.1), 0 1px 4px rgba(0, 0, 0, 0.41);">
  <img src="{{site.imgdir}}clients/walmedia/faithmade-feat-img.jpg" alt="">
</figure>

<h3>Challenges</h3>
<p>Working with SVG is absolutely one of the pleasures we get ot do on a daily basis but as with every SVG animation there come it's hurdles to solve.</p>

<figure>
  <img src="{{site.imgdir}}clients/walmedia/walmedia-fathmade-vectorlines.png" alt="">
  <figcaption><small>Group organization and path checks using Adobe Illustrator</small></figcaption>
</figure>

<p>SVG animations require a small bit of time to allow for organization to ensure paths, strokes are moving the right direction and as intended with intentions.</p>

<h3>Results</h3>

<p>Once the mechanics were in place and motions fine-tuned the result is beautiful and timeless plus supported on a wide range of browsers with wonderful performance.</p>

<figure class="figure-site">
  <img src="{{site.imgdir}}clients/walmedia/faithmade-svganimation.gif" alt="">
  <figcaption><small>View the live demo on <a href="http://codepen.io/grayghostvisuals/pen/qEeypz">CodePen</a></small></figcaption>
</figure>
