---
basename: casestudy
layout: default
title: lean-labs
logo: logo-leanlabs.png
description:
tags: branding, design, web development
categories: client
url: https://www.lean-labs.com
summary: We create engaging, responsive, high conversion web solutions for deserving brands.
---

<img src="{{site.imgdir}}logo-leanlabs.png" alt="" />
<h2 class="ggv-headline _reverse"><span>Deliver</span><span>Remarkable</span></h2>

<ul class="ggv-list">
  <li><b>Company:</b> Lean Labs</li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> Front-end Developer &amp; Designer</li>
  <li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
</ul>

<p>We're not (just) design nerds &amp; marketing geeks for hire. We're strategic partners to companies striving to deliver a remarkable brand experience. For these brands, "good enough" is not an option. We create engaging, responsive, high conversion web solutions for deserving brands.</p>

<h3>RocketSpace</h3>

<p>Hired by <a href="https://www.lean-labs.com">Lean Labs</a> I was responsible for design and development and worked a large amount of time on RocketSpace. Much of my time was spent redesinging and developing components and integrations with the HubSpot service. Development involved the integration of the HubL server and local workflow in order for developers to create locally beore pushing to HubSpot for production. Before working with Lean Labs RocketSpace was developed outside HubL when I suggested we change and later the workflow to develop more efficiently before pushing live.</p>

<figure class="figure-site">
  <!-- <img src="{{site.imgdir}}clients/diy/diy-feat-img.png" alt=""> -->
  <img src="{{site.imgdir}}clients/leanlabs/rs-techstartup.png" alt="">
  <figcaption><small></small></figcaption>
</figure>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<figure class="figure-site">
  <!-- <img src="{{site.imgdir}}clients/diy/diy-feat-img.png" alt=""> -->
  <img src="https://d13yacurqjgara.cloudfront.net/users/46511/screenshots/2987068/rocketspace-techstartup.png" alt="">
  <figcaption><small></small></figcaption>
</figure>
